*{
    padding: 0;
    margin  : 0;
}
h4, h3{
    color: white;
}
html{
    transition: 0.5s;
    background: linear-gradient(90deg, #699113bd 0%,#141517ad 100% ), url(../img/table\ background.jpg);
    background-size: cover;
}
h4{
    text-align: center;
    margin-bottom: 1em;
    margin-top: 2em;
    font-weight: bold;
    font-size: 3em;
}
h3{
    text-align: center;
}

.columns{
    transition: 0.5s;
}

.total{
    margin-top: 1em;
}
.playercard1{
    margin: auto;
}

.columns{
    width: 16%;
}

.reset{
    margin-bottom: 2em;
}
.input input{
    width: 6em;
    border: solid 2px black;
    background-color: wheat;
}
.input button{
    border-radius: 16px;
    background-color: rgb(6, 110, 62);
    color: white;
    border: solid 2px black;
}
.input button:hover{
    transition: 0.5s;
    background-color: black;
    color: white;
}
